<!-- app.component.html -->
<h1>Your App Name</h1>
<nav>
  <ul>
    <li>
      <button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    </li>
    <li>
      <a routerLink="/interviews" routerLinkActive="active" ariaCurrentWhenActive="page">Interviews</a>
    </li>
    <li>
      <a routerLink="/market-page" routerLinkActive="active" ariaCurrentWhenActive="page">Marketplace</a>
    </li>
  </ul>

  <!-- Add more navigation links as needed -->
</nav>
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>
